nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1.75rem 0;
    width: 100%;
}


.nav-sub-left {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.nav-sub-left img {
    margin-right: 10px;
}
.nav-sub-right {

}

body {
    max-width: 90vw;
}

.container {
    width: 100%;
    max-width: auto;

}

.resipe-container {

}

#first-half {

}

#second-half {

}

.about-me-container {

} 

main {

}

footer {

}